<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="WDPH_QuickView::4_wdph_quickview" title="QuickView" module="WDPH_QuickView" sortOrder="40" action="adminhtml/system_config/edit/section/wdph_quickview_main" parent="WDPH_Base::0_wdph" resource="WDPH_QuickView::main_configurations" />
	</menu>
</config>